.say {
  margin-top:20px;
  border-radius: 20px;
  padding-top: 10px;
  background-color: rgb(255, 223, 223);
}

.say h5 {
  align-items: right;
  text-align: right;
  padding-right: 20px;
}

.division {
  display: flex;
  margin: 20px;
  flex-direction: row;
}
.division a {
  color: black;
  font-weight: bold;
}
.division a:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
.MuiIcon-root {
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-size: 1.5rem;
  flex-shrink: 0;
  user-select: none;
}
.questions a {
  color: black;
  font-weight: normal;
}

.iconic {
  margin-left: 10px;
  margin-right: 10px;
  color: orangered;
}

.iconic {
  margin-left: 10px;
  margin-right: 10px;
  color: orangered;
}

.footer {
  margin-top: 8vh;
}
.footer p {
  font-weight: bold;
}

.footer:hover {
  transform: scale(1.05);
  padding-left: 0px;
  margin-left: 0px;
}

.footer {
  margin-top: 8vh;
}
.footer p {
  font-weight: bold;
}

.footer:hover {
  transform: scale(1.05);
  padding-left: 0px;
  margin-left: 0px;
}
@media(max-width:1000px){
  .footer{
    display: none;
  }
  .coins{
    display: none;
  }
}

.image {
  width: 125px;
  height: 115px;
} 