*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    text-align: center;
}
.wrapper{
    background-image: url(/Images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12px;
    height: 100vh;
}
.chairman{
    width: 16em;
    padding-top: 12px;
}
.cell {
    box-shadow: 0 2px 8px grey;
    border-radius: 5px;
    margin: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
}

.cell:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.cell div{
    padding: 0.2em;
    width: 6em;
}
.cell div strong{
    font-size: 0.9rem;
}
.img {
    width: 5em;
    height: 4em;
}

.table {
    display: flex;
    flex-direction: column;
}

.quizRow {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 300px) {
    .quizRow {
        flex-direction: column;
        align-items: center;
    } 
    .cell{
        width: 8em;
    }
    .chairman{
        width: 7rem;
    }
}